h1 {
	text-align: center;
	margin-bottom: 2%;
}

#graph {
	position: absolute;
	left: 210px;
	width: 1000px;
	height: 700px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px;
}

#control_panel {
	position: absolute;
	border: outset 1px gray;
	background: #ffffcc;
	height: 95%;
	width: 200px;
}
#tools {
	margin-top: 100px;
}